# Build the mouse genome training dataset
This notebook creates a mouse genome training dataset using the greater set of abBMD SNPs with associations, including any highly correlated SNPs. Clustered that, took the cluster with a top assoc, called this grp1 and created geno/pheno and map files for grp1. I ran that orig data through GWAS and exactly replicated results.  I then took the data and created synth data that came close.

In [4]:
import os
import pathlib
import pandas as pd

base_path = pathlib.Path(os.getcwd().replace("/synthetics", ""))
data_path = base_path / 'mice_data_set' / 'data'
experiment_path = base_path / 'mice_data_set' / 'out'

In [5]:
geno = pd.read_csv(data_path / 'geno.txt', sep=' ')

/Users/redlined/opt/anaconda3/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3343: DtypeWarning: Columns (0) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [7]:
geno

,id,discard,cfw-1-3082859,cfw-1-3207478,cfw-1-3284999,cfw-1-4056451,rs241840178,cfw-1-4592184,rs214108183,rs31954814,...,rs239202862,cfw-19-60773695,rs212272420,rs51223003,rs30736750,rs30654044,rs30990073,rs50978457,rs51755773,cfw-19-61107432
0,26305,no,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.000,...,2.000,2.000,2.000,0.0,0.0,2.0,2.000,2.000,0.000,0.000
1,26306,no,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000,...,1.929,1.980,1.999,0.0,0.0,2.0,1.964,1.689,1.781,0.254
2,26307,no,0.0,0.0,0.0,0.0,0.0,2.0,0.0,0.000,...,1.933,1.603,1.993,0.0,0.0,2.0,1.492,1.793,1.538,0.526
3,26308,no,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.776,...,2.000,2.000,2.000,0.0,0.0,2.0,2.000,2.000,1.000,0.000
4,26309,no,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000,...,2.000,2.000,2.000,0.0,0.0,2.0,2.000,2.000,2.000,0.361
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1156,47069,no,0.0,0.0,0.0,0.0,0.0,2.0,0.0,0.000,...,2.000,2.000,2.000,0.0,0.0,2.0,2.000,2.000,1.499,0.499
1157,47070,no,0.0,0.0,0.0,0.0,0.0,2.0,0.0,2.000,...,2.000,2.000,2.000,1.0,1.0,1.0,2.000,2.000,0.005,0.996
1158,47071,no,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.000,...,2.000,1.000,2.000,0.0,0.0,2.0,2.000,2.000,2.000,0.000
1159,47072,no,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.005,...,1.886,1.776,2.000,0.0,0.0,2.0,1.838,2.000,1.567,0.193
1160,47073,no,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.000,...,2.000,1.000,1.666,0.0,0.0,2.0,1.457,2.000,2.000,0.197

In [8]:
phenome = pd.read_csv(experiment_path / 'pheno_abBMD.csv').dropna()
phenome

,id,round,cageid,FCbox,PPIbox,methcage,methcycle,discard,mixup,earpunch,...,SW16,SW17,SW18,SW19,SW20,SW21,SW22,SW23,SW24,SW25
2,26306,SW18,1330002.0,2.0,3.0,2.0,1.0,no,no,R,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,26307,SW18,1330002.0,3.0,4.0,3.0,1.0,no,no,L,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,26308,SW18,1330002.0,4.0,5.0,4.0,1.0,no,no,L,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5,26309,SW18,1330003.0,1.0,1.0,5.0,1.0,no,no,R,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
6,26310,SW18,1330003.0,2.0,3.0,6.0,1.0,no,no,R,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1033,47068,SW25,1350866.0,3.0,4.0,7.0,4.0,no,no,L,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
1034,47069,SW25,1350866.0,4.0,5.0,8.0,4.0,no,no,L,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
1035,47071,SW25,1350867.0,2.0,3.0,10.0,4.0,no,no,R,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
1036,47072,SW25,1350867.0,3.0,4.0,11.0,4.0,no,no,L,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
1037,47073,SW25,1350867.0,4.0,5.0,12.0,4.0,no,no,L,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0

In [15]:
geno_grp1_columns = ['rs29477109',
  'rs27070938',
  'rs259190588',
  'rs26992391',
  'rs29435046',
  'rs227486741',
  'rs27070712',
  'rs27037798',
  'rs49725879',
  'rs27037823',
  'rs29467625',
  'rs27052855',
  'rs29391151',
  'rs51014101',
  'rs6258876',
  'rs46637219',
  'rs27045535']

In [31]:
geno_grp1 = pd.DataFrame(geno.filter(['id', 'discard'] + geno_grp1_columns))
geno_grp1.to_csv(data_path / 'geno_grp1.txt', sep=' ', index=False)
geno_grp1

,id,discard,rs29477109,rs27070938,rs259190588,rs26992391,rs29435046,rs227486741,rs27070712,rs27037798,rs49725879,rs27037823,rs29467625,rs27052855,rs29391151,rs51014101,rs6258876,rs46637219,rs27045535
0,26305,no,0.937,0.973,1.000,1.921,1.000,0.981,1.0,0.997,1.000,1.000,0.957,0.986,1.656,0.948,0.974,0.994,0.987
1,26306,no,1.000,1.000,0.909,1.000,1.000,1.000,1.0,0.975,1.009,1.000,0.995,1.621,0.952,0.977,1.617,0.733,1.000
2,26307,no,1.000,1.000,1.000,1.000,1.000,1.000,1.0,1.980,2.000,2.000,1.999,2.000,1.997,1.947,1.997,1.984,0.998
3,26308,no,1.000,1.000,1.000,1.000,1.000,1.000,1.0,1.000,1.000,1.133,1.000,1.188,0.272,0.362,1.824,1.646,1.000
4,26309,no,2.000,2.000,1.723,2.000,2.000,2.000,2.0,2.000,2.000,2.000,2.000,2.000,2.000,1.997,2.000,2.000,2.000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1156,47069,no,1.000,1.000,1.000,1.000,0.999,1.000,1.0,1.000,1.000,1.000,1.036,0.966,0.730,0.995,0.960,1.000,0.993
1157,47070,no,1.000,1.000,1.000,1.000,1.000,1.000,1.0,0.016,1.000,1.000,1.000,1.913,0.954,0.025,1.913,1.000,0.003
1158,47071,no,0.012,0.000,0.000,0.000,0.006,0.000,0.0,0.000,0.000,0.000,0.237,0.877,0.000,0.784,0.865,0.000,0.021
1159,47072,no,1.000,0.000,0.000,0.000,0.000,0.000,0.0,0.003,0.000,0.000,0.000,0.001,0.000,0.003,0.001,0.000,0.000
1160,47073,no,1.000,1.000,2.000,2.000,2.000,1.000,2.0,2.000,2.000,2.000,2.000,2.000,1.000,2.000,2.000,2.000,1.000

In [33]:
# Now create the map file

mapfile = pd.read_csv(data_path / 'map.txt', sep=' ')

mapfile_grp1 = mapfile[mapfile["id"].isin(geno_grp1)]
mapfile_grp1.to_csv(data_path / 'map_grp1.txt', sep=' ', index=False)
mapfile_grp1

                id  chr       pos ref alt  quality
58987   rs27070938   11  95180162   T   C   0.9983
58996   rs27070712   11  95252424   T   C   0.9983
59003   rs29477109   11  95292217   T   C   1.0000
59059  rs259190588   11  95616230   C   T   0.9966
59060  rs227486741   11  95616235   A   G   1.0000
59068   rs26992391   11  95633216   C   T   0.9991
59133   rs29435046   11  96082940   T   C   1.0000
59167   rs27045535   11  96309635   C   T   1.0000
59215   rs46637219   11  96655402   C   T   0.9991
59224   rs27052855   11  96682007   G   A   1.0000
59226    rs6258876   11  96682466   A   G   0.9966
59230   rs49725879   11  96737037   G   A   1.0000
59235   rs29467625   11  96772746   C   T   0.9991
59245   rs27037823   11  96837630   C   T   1.0000
59248   rs27037798   11  96844780   T   C   0.9991
59258   rs51014101   11  96872269   A   G   0.9974
59312   rs29391151   11  97086545   T   C   0.9966

In [45]:
# Join genome and phenome datasets
genome_phenome = geno_grp1.join(phenome.set_index('id'), on='id', how='inner', lsuffix='_genome', rsuffix='_phenome')

# Cast float values to integers
floats = genome_phenome.select_dtypes(include=['float64']) 
for col in floats.columns.values:
    genome_phenome[col] = genome_phenome[col].astype('int64')

# Filter out unnecessary columns
columns = ['abBMD', 'SW16', 'rs29477109', 'rs27070938', 'rs259190588',
       'rs26992391', 'rs29435046', 'rs227486741', 'rs27070712', 'rs27037798',
       'rs49725879', 'rs27037823', 'rs29467625', 'rs27052855', 'rs29391151',
       'rs51014101', 'rs6258876', 'rs46637219', 'rs27045535']

genome_phenome = genome_phenome.filter(columns)

genome_phenome.to_csv(data_path / 'geno_train.csv', index=False)
genome_phenome

,abBMD,SW16,rs29477109,rs27070938,rs259190588,rs26992391,rs29435046,rs227486741,rs27070712,rs27037798,rs49725879,rs27037823,rs29467625,rs27052855,rs29391151,rs51014101,rs6258876,rs46637219,rs27045535
1,0,0,1,1,0,1,1,1,1,0,1,1,0,1,0,0,1,0,1
2,0,0,1,1,1,1,1,1,1,1,2,2,1,2,1,1,1,1,0
3,0,0,1,1,1,1,1,1,1,1,1,1,1,1,0,0,1,1,1
4,0,0,2,2,1,2,2,2,2,2,2,2,2,2,2,1,2,2,2
5,0,0,1,1,0,1,1,1,1,0,1,1,1,1,1,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1155,0,0,1,1,1,2,2,2,2,1,1,1,0,1,1,0,0,1,1
1156,0,0,1,1,1,1,0,1,1,1,1,1,1,0,0,0,0,1,0
1158,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
1159,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
1160,0,0,1,1,2,2,2,1,2,2,2,2,2,2,1,2,2,2,1

In [47]:
seeds = ['abBMD', 'SW16']
seeds_df = genome_phenome.filter(seeds)
seeds_df.to_csv(data_path / 'geno_seeds.csv')